/* @media (max-width: 747px) {
	.home .title h2{
		font-size: 2em;
	}
	.title h3 {
		font-size: 2em;
	}
    .btn-dashboard{
        display: flex;
        justify-content: space-between;
    }
  }
@media (max-width: 701px) {
	.home .title h2{
		font-size: 4em;
	}
	.title h3 {
		font-size: 3em;
	}
    .btn-dashboard{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
  } */
  